.piedepagina {
    background-color: map-get($color-fondos, terciario);
    margin-top: 3%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    h6 {
        color: map-get($color-textos, secundario);
    }
    .footerubicacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 1px;
        padding: 16px 1px;
        text-align: center;
        height: 100%;
        .contenedorubicacion { 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        }
        .calleubicacion { 
        font-family: "Monserrat";
        margin: 5px 5px 2.5px;
        padding: 5px 5px 2.5px;
        }
        .barrioubicacion {
        font-family: "Monserrat";
        margin: 2.5px 5px 5px;
        padding: 2.5px 5px 5px;
        }        
    }
    .footerhorarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 1px;
        padding: 16px 1px;
        text-align: center;
        height: 100%;
        .contenedorhorarios {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .diaslaborales {
            font-family: "Monserrat";
            margin: 5px 5px 2.5px;
            padding: 5px 5px 2.5px;
        }
        .horarioslaborales {    
            font-family: "Monserrat";
            margin: 2.5px 5px 5px;
            padding: 2.5px 5px 5px;
        }    
    }   
    .iconofooter {
        width: 56px;
    }  
    .footerredes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1px;
        padding: 16px 1px;
        height: 100%;
        .contenedorinstagram {
            width: 48px;
            height: 48px;
            margin: 1px;
            padding: 1px 1px 6px;
            .iconoinstagram { 
                width: 48px;
                height: 48px;
            }
        }
        
        .contenedorwhatsapp {
            width: 48px;
            height: 48px;
            margin: 1px;
            padding: 6px 1px 1px;
            .iconowhatsapp {
                width: 48px;
                height: 48px;
            }
        }    
    }       
}

.registro {
    background-color: map-get($color-fondos, secundario);
    flex-wrap: nowrap;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 0px;
    align-items: center;
    .contenedorregistro1 {
        display: flex;
        align-items: center;
        margin: 1px;
        justify-content: center;
        .iconoregistro {
            margin: 1px 5px;
            height: 17.5px;
        }
        
        .registronombre1 {
            margin: 1px 5px;
            font-size: 12px;
        }    
    }  
    .contenedorregistro2 {
        margin: 1px;
        padding: 1px;
        text-align: center;

        .registronombre2 {
            margin: 1px 5px;
            padding: 2px 5px;
            font-size: 12px;
        }    
    }      
}

@media (min-width: 992px) {
    .piedepagina {
        margin-top: 2%;
    }
}
